.default {
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: red;
  color: whitesmoke;
}

.title {
 text-align: center;
 margin: 0;
}

.main-content{
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}